<div id="footer">
   <p>
    Send feedback on <%= SPELLBOOK_VERSION %> to <a href="mailto:ivan.hantov@gmail.com?subject=Spellbook feedback">Handuff</a> |
    Join Spellbook development at <a href="http://code.google.com/p/spellbook-dictionary/">Google code</a> |
    <a href="www.spellbook.drowltd.com/help_spellbook.pdf">Spellbook help</a>    
   </p> 
</div>
 