<div id="sidebar"> 
  <img src="/images/SpellBook_Glow_smaller.jpg" alt="spellbook logo" />
  <h4> Spellbook is an open source dictionary and language education system. </h4>
  <h4> Spellbook has a platform independent desktop version developed in Java</h4>
  <h4> You can download it and contribute to Spellbook development at <a href="http://code.google.com/p/spellbook-dictionary/">Google code</a> </h4>
</div>
<div style="clear: both;">&nbsp;</div>